<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="header">
			<h1>Header</h1>
			<h2>Subtitle</h2>
		</div>
		<ul id="navbar">
			<li><a href="www.google.com">Home</a></li>
			<li><a href="www.google.com">About Us</a></li>
			<li><a href="www.google.com">Contact Us</a></li>
			<li><a href="www.google.com">Videos</a></li>
			<li><a href="www.google.com">Something</a></li>
			<li><a href="www.google.com">Something more...</a></li>
			<li><a href="www.google.com">Something even more...</a></li>
		</ul>
		<ul id="main_content">
			<li>
				<h4>Coffee Ipsum</h4>
				<p>Qui at grinder, galao latte saucer kopi-luwak aroma froth. Galao organic turkish java that kopi-luwak americano redeye grounds. Con panna turkish, body, viennese, mocha macchiato plunger pot americano sugar. Id single shot mocha, et affogato turkish roast cream brewed.</p>
			</li>
			<li>
				<h4>Lorem Ipsum</h4>
				<p>Lorem impsum dolor sit amet, consectetur adipiscing elit. Nam pharetra vitae ipsum a convallis. Sed quis sapien sed lacus fringilla commodo. Vivamus viverra egestas dolor, id ornare sapein laoreet vel. Donec nisl lacus, accumsan vitae iaculis ut, feugiat vel risus. Aenean molestie nec lorem quis rhoncus. Vivamus sit amet elementum nibh, a tristique dui. Proin blandit dolor nec lacus lobortis, non imperdiet risus porta. Maecenas adipiscing gravida congue. In non viverra erat. Nam porta elit quis risus tempor pharetra. Cras tempus augue ut dolor suscipit cursus.</p>
			</li>
			<li>
				<h4>Baby Ipsum</h4>
				<p>Ya yaya beddy-bye gaa ya ya. Doo gaga yaya gaagaa doodoo. Da gaagaanum nums yaya laa yaya doo laa laalaa passie ya goo yea. Doo gaga laa laalaa laa doo. Gaagaa dada ga pee-pee yaya gaga gaagaa doo doodoo goo dada gaagaa goo doo. Laa gaa laa laalaa doodoo doo ya doodoo da. Goo dada goo gaagaa da lickle laa goo ya da gaa botty da laa. Da ga cootchie-coo gaagaa ya doodoo gaga gaagaa goo gaagaa laa gaga brekkie gaa. Owie yaya dada yucky doo goo ga doo laalaa doodoo da laalaa ga. Uppie gaga ga laalaa ga gaa yaya gaagaa dada gaagaa Whoopsie yaya doo ickle gaga gaga dada yaya goo laa moo-moo laalaa doo laalaa. Da ga dada doodoo goo doodoo ga da botty da gaagaa. Goo googoo da goo bye-bye puffer gaa daad d.</p>
			</li>
			<li>
				<h4>Zombie Ipsum</h4>
				<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
			</li>
		</ul>
	</body>
</html>